// Defaults
.perspective {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-x-180 {
    transform: rotateX(180deg);
}

.transition-transform {
    transition: transform 0.7s ease-in-out;
}

// Time Progress Bar
.time-progress {
    z-index: 100;
    width: 0;
    height: 8px;
    display: inline-block;
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    left: 0;
    transform-origin: left;
    border-radius: 2.5rem;
}

.time-progress::after,
.time-progress::before {
    z-index: 100;
    content: "";
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
}

.time-progress::before {
    top: -4px;
    transform: rotate(45deg);
}

.time-progress-animation {
    animation: forwProg 10s linear forwards;
}

.time-progress-animation::after,
.time-progress-animation::before {
    animation: upwSprink 0.3s linear;
    animation-iteration-count: calc(10s / 0.3s);
}

.time-progress-animation::before {
    animation: dowSprink 0.3s linear;
    animation-iteration-count: calc(10s / 0.3s);
}

.time-progress-paused {
    animation-play-state: paused !important;
}

.time-progress-paused::before,
.time-progress-paused::after {
    display: none;
    animation-play-state: paused !important;
}

// Answers
.highlight-green {
    background-color: #14a536;
    transition:
        background-color 255ms ease-in-out,
        border-color 255ms ease-in-out;
}

.highlight-red {
    background-color: #ac1423;
    transition:
        background-color 255ms ease-in-out,
        border-color 255ms ease-in-out;
}

.highlight-blue {
    // background-color: #1e90ff;
    background-color: #1e90ff;
    // animation: blink 1.5s linear infinite alternate 2.5s;
}

.counter {
    animation: fadeIn 500ms ease-in-out;
}

// Keyframes
@keyframes forwProg {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes upwSprink {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }
    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes dowSprink {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }
    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}

@keyframes blink {
    0% {
        background-color: #1e90ff;
    }
    10% {
        background-color: #383838b6;
    }
    20% {
        background-color: #1e90ff;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
