<div class="flex flex-col justify-center items-center h-screen w-full gap-4 bg-[#1c1c1c] p-8">
    <div class="relative w-full h-96 perspective">
        <div class="relative w-full h-full transition-transform duration-700 transform-style-preserve-3d" [style.transform]="flipRotation">
            @if(startScreen) {
                <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#1c1c1c] rounded-[16rem] 
                    shadow-[inset_0_0_0_5px_#d47108] text-white backface-hidden cursor-pointer" (click)="startGame()">
                    <div class="flex flex-col justify-center items-center gap-4 pl-24 pr-24 text-center">
                        <span class="text-3xl mb-4">
                            {{ game?.quiz?.title }}
                        </span>
                        <span class="text-xl">
                            {{ game?.remaining_questions?.length }} Fragen
                        </span>
                    </div>
                </div>
            } @else {
                <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#1c1c1c] rounded-[16rem] 
                    shadow-[inset_0_0_0_5px_#d47108] text-white backface-hidden" (click)="nextStep()" [class.cursor-pointer]="!timerSubscription">
                    @if (!isQuestionSide) {
                        <ng-container [ngTemplateOutlet]="questionContent"></ng-container>
                    }
                </div>

                <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#1c1c1c] rounded-[16rem] 
                    shadow-[inset_0_0_0_5px_#d47108] text-white rotate-x-180 backface-hidden" (click)="nextStep()" [class.cursor-pointer]="!timerSubscription">
                    @if (isQuestionSide) {
                        <ng-container [ngTemplateOutlet]="questionContent"></ng-container>
                    }
                </div>
            }
        </div>
    </div>

    <div class="z-100 flex flex-col justify-center items-start h-2 w-[82%] bg-[#2c2c2c] rounded-[16rem] mt-2 mb-2">
        <span class="time-progress" [class.time-progress-animation]="timeRunning" [class.time-progress-paused]="timePaused"></span>
    </div>

    <div class="relative w-full h-96 perspective">
        <div class="relative w-full h-full transition-transform duration-700 transform-style-preserve-3d" [style.transform]="flipRotation">
            @if(startScreen) {
                <div class="absolute w-full h-full flex flex-col justify-center items-start bg-[#d47108] border-4 border-[#d47108] 
                    rounded-[16rem] shadow-[inset_0_0_0_5px_#1c1c1c] backface-hidden">
                </div>
            } @else {
                <div class="absolute w-full h-full flex flex-col justify-center items-start bg-[#1c1c1c] rounded-[16rem] backface-hidden">
                    @if (!isQuestionSide) {
                        <ng-container [ngTemplateOutlet]="answerContent"></ng-container>
                    }
                </div>

                <div class="absolute w-full h-full flex flex-col justify-center items-start bg-[#1c1c1c] rounded-[16rem] rotate-x-180 backface-hidden">
                    @if (isQuestionSide) {
                        <ng-container [ngTemplateOutlet]="answerContent"></ng-container>
                    }
                </div>
            }
        </div>
    </div>
</div>


<ng-template #questionContent>
    <div class="relative h-full w-full overflow-hidden rounded-[16rem]">

        <div class="absolute inset-0 bg-cover bg-center bg-no-repeat rounded-[16rem] m-3" 
            [class.opacity-40]="questions[currentQuestionIndex]?.transparent"
            [ngStyle]="{'background-image': questions[currentQuestionIndex]?.image
                ? 'url(http://127.0.0.1:8000/' + questions[currentQuestionIndex].image + ')'
                : 'none'}">
        </div>

        <div class="relative flex flex-col justify-between items-center gap-4 pt-6 pb-6 pl-24 pr-24 text-center h-full w-full">
            <span class="text-2xl text-shadow-lg/100">
                Frage {{ currentQuestionIndex + 1 + (game?.answered_questions?.length ?? 0) }}
                / {{ questions.length + (game?.answered_questions?.length ?? 0) }}
            </span>
            <span class="text-3xl text-shadow-lg/100">
                {{ questions[currentQuestionIndex]?.title }}
            </span>
            <span class="text-2xl text-shadow-lg/100">
                {{ questions[currentQuestionIndex]?.category_title }}
            </span>
        </div>
    </div>
</ng-template>

<ng-template #answerContent>
    <div class="relative grid grid-cols-2 grid-rows-2 h-96 w-full gap-4 place-items-center">

        <!-- Answer 0 -->
        <div (click)="answer(0)" class="flex justify-center items-center h-full w-full bg-[#d47108] border-4 border-[#d47108]
                        rounded-[16rem] rounded-tr-3xl rounded-bl-3xl shadow-[inset_0_0_0_5px_#1c1c1c] transition"
            [class.cursor-pointer]="!timePaused || !timeRunning"
            [class.highlight-green]="selectedAnswerIdx === 0 && selectedAnswerCorrect"
            [class.highlight-red]="selectedAnswerIdx === 0 && !selectedAnswerCorrect"
            [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 0 && showCorrectAnswer">
            <span class="text-2xl text-shadow-md/50 text-white">
                {{ questions[currentQuestionIndex]?.answers?.[0]?.text }}
            </span>
        </div>

        <!-- Answer 1 -->
        <div (click)="answer(1)" class="flex justify-center items-center h-full w-full bg-[#d47108] border-4 border-[#d47108]
                        rounded-[16rem] rounded-tl-3xl rounded-br-3xl shadow-[inset_0_0_0_5px_#1c1c1c] transition"
            [class.cursor-pointer]="!timePaused || !timeRunning"
            [class.highlight-green]="selectedAnswerIdx === 1 && selectedAnswerCorrect"
            [class.highlight-red]="selectedAnswerIdx === 1 && !selectedAnswerCorrect"
            [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 1 && showCorrectAnswer">
            <span class="text-2xl text-shadow-md/50 text-white">
                {{ questions[currentQuestionIndex]?.answers?.[1]?.text }}
            </span>
        </div>

        <!-- Answer 2 -->
        <div (click)="answer(2)" class="flex justify-center items-center h-full w-full bg-[#d47108] border-4 border-[#d47108]
                        rounded-[16rem] rounded-br-3xl rounded-tl-3xl shadow-[inset_0_0_0_5px_#1c1c1c] transition"
            [class.cursor-pointer]="!timePaused || !timeRunning"
            [class.highlight-green]="selectedAnswerIdx === 2 && selectedAnswerCorrect"
            [class.highlight-red]="selectedAnswerIdx === 2 && !selectedAnswerCorrect"
            [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 2 && showCorrectAnswer">
            <span class="text-2xl text-shadow-md/50 text-white">
                {{ questions[currentQuestionIndex]?.answers?.[2]?.text }}
            </span>
        </div>

        <!-- Answer 3 -->
        <div (click)="answer(3)" class="flex justify-center items-center h-full w-full bg-[#d47108] border-4 border-[#d47108]
                        rounded-[16rem] rounded-bl-3xl rounded-tr-3xl shadow-[inset_0_0_0_5px_#1c1c1c] transition"
            [class.cursor-pointer]="!timePaused || !timeRunning"
            [class.highlight-green]="selectedAnswerIdx === 3 && selectedAnswerCorrect"
            [class.highlight-red]="selectedAnswerIdx === 3 && !selectedAnswerCorrect"
            [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 3 && showCorrectAnswer">
            <span class="text-2xl text-shadow-md/50 text-white">
                {{ questions[currentQuestionIndex]?.answers?.[3]?.text }}
            </span>
        </div>

        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <div class="flex justify-center items-center text-4xl text-white text-shadow-md/100 font-bold">
                <span class="counter">{{ formattedTime }}</span>
            </div>
        </div>
    </div>
</ng-template>