<div class="h-full w-full flex justify-center items-center" [class.fade-in-root]="fadeIn">
    <div class="flex flex-col md:justify-center justify-start items-center h-screen w-full max-w-7xl md:gap-4 sm:gap-3 gap-2 md:p-8 sm:p-6 p-4">
        <div class="relative w-full md:h-96 sm:h-72 h-52 perspective">
            <div class="relative w-full h-full transition-transform duration-700 transform-style-preserve-3d" [style.transform]="flipRotation"
                (transitionend)="onFlipFinished($event)">
                @if(startScreen) {
                    <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#1c1c1c] rounded-[16rem] 
                        md:shadow-[inset_0_0_0_5px_#d47108,0_0_5px_rgba(255,255,255,0.5)] 
                        sm:shadow-[inset_0_0_0_4px_#d47108,0_0_4px_rgba(255,255,255,0.5)] 
                        shadow-[inset_0_0_0_3px_#d47108,0_0_3px_rgba(255,255,255,0.5)] text-white backface-hidden cursor-pointer" 
                        (click)="startGame()">
                        <div class="flex flex-col justify-center items-center gap-4 pl-24 pr-24 text-center">
                            <span class="md:text-3xl sm:text-2xl text-xl mb-4">
                                {{ game?.quiz?.title }}
                            </span>
                        </div>
                    </div>
                } @else {
                    <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#1c1c1c] rounded-[16rem] 
                        md:shadow-[inset_0_0_0_5px_#d47108,0_0_5px_rgba(255,255,255,0.5)] 
                        sm:shadow-[inset_0_0_0_4px_#d47108,0_0_4px_rgba(255,255,255,0.5)] 
                        shadow-[inset_0_0_0_3px_#d47108,0_0_3px_rgba(255,255,255,0.5)] text-white backface-hidden" 
                        (click)="nextStep()" [class.cursor-pointer]="!timerSubscription">
                        @if (!isQuestionSide) {
                            <ng-container [ngTemplateOutlet]="questionContent"></ng-container>
                        }
                    </div>

                    <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#1c1c1c] rounded-[16rem] 
                        md:shadow-[inset_0_0_0_5px_#d47108,0_0_5px_rgba(255,255,255,0.5)] 
                        sm:shadow-[inset_0_0_0_4px_#d47108,0_0_4px_rgba(255,255,255,0.5)] 
                        shadow-[inset_0_0_0_3px_#d47108,0_0_3px_rgba(255,255,255,0.5)] text-white rotate-x-180 backface-hidden" 
                        (click)="nextStep()" [class.cursor-pointer]="!timerSubscription">
                        @if (isQuestionSide) {
                            <ng-container [ngTemplateOutlet]="questionContent"></ng-container>
                        }
                    </div>
                }
            </div>
        </div>

        <div class="z-100 flex flex-col justify-center items-start sm:h-2 h-1.5 w-[82%] bg-[#2c2c2c] rounded-[16rem] sm:mt-2 sm:mb-2 mt-1 mb-1">
            <span class="time-progress" [class.time-progress-animation]="timeRunning" [class.time-progress-paused]="timePaused"></span>
        </div>

        <div class="z-50 relative w-full md:h-96 sm:h-72 h-52 perspective">
            <div class="relative w-full h-full transition-transform duration-700 transform-style-preserve-3d" [style.transform]="flipRotation" 
                (transitionend)="onFlipFinished($event)">
                @if(startScreen) {
                    <div class="absolute w-full h-full flex flex-col justify-center items-center bg-[#d47108] 
                        md:border-4 sm:border-3 border-2 border-[#d47108] 
                        rounded-[16rem] md:shadow-[inset_0_0_0_5px_#1c1c1c,0_0_5px_rgba(255,255,255,0.5)] 
                        sm:shadow-[inset_0_0_0_4px_#1c1c1c,0_0_4px_rgba(255,255,255,0.5)] 
                        shadow-[inset_0_0_0_3px_#1c1c1c,0_0_3px_rgba(255,255,255,0.5)] backface-hidden">
                        <div class="flex flex-col justify-center items-center gap-4 pl-24 pr-24 text-center">
                            <span class="md:text-2xl sm:text-xl text-lg">
                                {{ getRemainingQuestionsCount() }} Fragen
                            </span>
                        </div>
                    </div>
                } @else {
                    <div class="absolute w-full h-full flex flex-col justify-center items-start rounded-[16rem] backface-hidden">
                        @if (!isQuestionSide) {
                            <ng-container [ngTemplateOutlet]="answerContent"></ng-container>
                        }
                    </div>

                    <div class="absolute w-full h-full flex flex-col justify-center items-start rounded-[16rem] rotate-x-180 backface-hidden">
                        @if (isQuestionSide) {
                            <ng-container [ngTemplateOutlet]="answerContent"></ng-container>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <ng-template #questionContent>
        <div class="relative h-full w-full overflow-hidden rounded-[16rem]">

            <div class="absolute inset-0 bg-cover bg-center bg-no-repeat rounded-[16rem] m-3" 
                [class.opacity-30]="currentQuestion?.question?.transparent || currentQuestion?.question?.category?.transparent || !currentQuestion?.question?.image"
                [style.background-image]="background(currentQuestion)">
            </div>

            <div class="relative flex flex-col justify-between items-center gap-4 
                md:pt-6 sm:pt-5 pt-4 md:pb-6 sm:pb-5 pb-4 md:pl-24 sm:pl-18 pl-10 md:pr-24 sm:pr-18 pr-10 text-center h-full w-full">
                <span class="md:text-2xl sm:text-xl text-md text-shadow-lg/100">
                    Frage {{ (currentQuestion?.answered_questions ?? 0) + 1 }} / {{ currentQuestion?.total_questions }}
                </span>
                <span class="md:text-3xl sm:text-2xl text-xl text-shadow-lg/100 select-none">
                    {{ this.currentQuestion?.question?.title }}
                </span>
                <span class="md:text-2xl sm:text-xl text-md text-shadow-lg/100">
                    {{ this.currentQuestion?.question?.category?.title }}
                </span>
            </div>
        </div>
    </ng-template>

    <ng-template #answerContent>
        <div class="relative grid grid-cols-2 grid-rows-2 h-96 w-full gap-4 place-items-center">

            <!-- Answer 0 -->
            <div (click)="answer(0)" class="flex justify-center items-center h-full w-full bg-[#d47108] 
                md:border-4 sm:border-3 border-2 border-[#d47108]
                rounded-[16rem] rounded-tr-3xl rounded-bl-3xl 
                md:shadow-[inset_0_0_0_5px_#1c1c1c,0_0_5px_rgba(255,255,255,0.5)] 
                sm:shadow-[inset_0_0_0_4px_#1c1c1c,0_0_4px_rgba(255,255,255,0.5)]
                shadow-[inset_0_0_0_3px_#1c1c1c,0_0_3px_rgba(255,255,255,0.5)] transition"
                [class.cursor-pointer]="!timePaused || !timeRunning"
                [class.highlight-green]="selectedAnswerIdx === 0 && selectedAnswerCorrect"
                [class.highlight-red]="selectedAnswerIdx === 0 && !selectedAnswerCorrect"
                [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 0 && showCorrectAnswer">
                <span class="md:text-2xl sm:text-xl text-md text-shadow-md/50 text-white select-none">
                    {{ this.currentQuestion?.question?.answers?.[0]?.text }}
                </span>
            </div>

            <!-- Answer 1 -->
            <div (click)="answer(1)" class="flex justify-center items-center h-full w-full bg-[#d47108] 
                md:border-4 sm:border-3 border-2 border-[#d47108]
                rounded-[16rem] rounded-tl-3xl rounded-br-3xl 
                md:shadow-[inset_0_0_0_5px_#1c1c1c,0_0_5px_rgba(255,255,255,0.5)] 
                sm:shadow-[inset_0_0_0_4px_#1c1c1c,0_0_4px_rgba(255,255,255,0.5)]
                shadow-[inset_0_0_0_3px_#1c1c1c,0_0_3px_rgba(255,255,255,0.5)] transition"
                [class.cursor-pointer]="!timePaused || !timeRunning"
                [class.highlight-green]="selectedAnswerIdx === 1 && selectedAnswerCorrect"
                [class.highlight-red]="selectedAnswerIdx === 1 && !selectedAnswerCorrect"
                [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 1 && showCorrectAnswer">
                <span class="md:text-2xl sm:text-xl text-md text-shadow-md/50 text-white select-none">
                    {{ this.currentQuestion?.question?.answers?.[1]?.text }}
                </span>
            </div>

            <!-- Answer 2 -->
            <div (click)="answer(2)" class="flex justify-center items-center h-full w-full bg-[#d47108] 
                md:border-4 sm:border-3 border-2 border-[#d47108]
                rounded-[16rem] rounded-br-3xl rounded-tl-3xl 
                md:shadow-[inset_0_0_0_5px_#1c1c1c,0_0_5px_rgba(255,255,255,0.5)] 
                sm:shadow-[inset_0_0_0_4px_#1c1c1c,0_0_4px_rgba(255,255,255,0.5)]
                shadow-[inset_0_0_0_3px_#1c1c1c,0_0_3px_rgba(255,255,255,0.5)] transition"
                [class.cursor-pointer]="!timePaused || !timeRunning"
                [class.highlight-green]="selectedAnswerIdx === 2 && selectedAnswerCorrect"
                [class.highlight-red]="selectedAnswerIdx === 2 && !selectedAnswerCorrect"
                [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 2 && showCorrectAnswer">
                <span class="md:text-2xl sm:text-xl text-md text-shadow-md/50 text-white select-none">
                    {{ this.currentQuestion?.question?.answers?.[2]?.text }}
                </span>
            </div>

            <!-- Answer 3 -->
            <div (click)="answer(3)" class="flex justify-center items-center h-full w-full bg-[#d47108] 
                md:border-4 sm:border-3 border-2 border-[#d47108]
                rounded-[16rem] rounded-bl-3xl rounded-tr-3xl 
                md:shadow-[inset_0_0_0_5px_#1c1c1c,0_0_5px_rgba(255,255,255,0.5)] 
                sm:shadow-[inset_0_0_0_4px_#1c1c1c,0_0_4px_rgba(255,255,255,0.5)]
                shadow-[inset_0_0_0_3px_#1c1c1c,0_0_3px_rgba(255,255,255,0.5)] transition"
                [class.cursor-pointer]="!timePaused || !timeRunning"
                [class.highlight-green]="selectedAnswerIdx === 3 && selectedAnswerCorrect"
                [class.highlight-red]="selectedAnswerIdx === 3 && !selectedAnswerCorrect"
                [class.highlight-blue]="!selectedAnswerCorrect && correctAnswerIdx === 3 && showCorrectAnswer">
                <span class="md:text-2xl sm:text-xl text-md text-shadow-md/50 text-white select-none">
                    {{ this.currentQuestion?.question?.answers?.[3]?.text }}
                </span>
            </div>

            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <div class="flex justify-center items-center md:text-4xl sm:text-3xl text-2xl text-white text-shadow-md/100 font-bold">
                    <span class="counter">{{ formattedTime }}</span>
                </div>
            </div>
        </div>
    </ng-template>
</div>