.timer-animation {
    animation: animFw 10s linear forwards;
}

.timer-animation::after,
.timer-animation::before {
    animation: coli1 0.3s linear;
    animation-iteration-count: calc(10s / 0.3s);
}

.timer-animation::before {
    animation: coli2 0.3s linear;
    animation-iteration-count: calc(10s / 0.3s);
}

.loader {
    width: 0;
    height: 8px;
    display: inline-block;
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    left: 0;
    transform-origin: left;
    border-radius: 2.5rem;
}
.loader::after,
.loader::before {
    content: "";
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
}
.loader::before {
    top: -4px;
    transform: rotate(45deg);
}

@keyframes animFw {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }
    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }
    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}

.counter {
    animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.perspective {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.rotate-x-180 {
    transform: rotateX(180deg);
}

.transition-transform {
    transition: transform 0.7s ease-in-out;
}
