@use "tailwindcss";

body {
    font-family: "Alkatra", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.antialiazed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
