@use "tailwindcss";

body {
  font-family: "Alkatra", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.antialiazed {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-stripes {
  position: relative;
  background-image: radial-gradient(ellipse at center, #d471080e 0%, rgba(0, 0, 0, 1) 100%);

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 1px,
      rgba(0, 0, 0, 0.8) 10px,
      rgba(255, 255, 255, 1) 10px
    );
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

/* alkatra-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alkatra";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/alkatra-v5-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alkatra-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alkatra";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/alkatra-v5-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alkatra-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alkatra";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/alkatra-v5-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alkatra-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alkatra";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/alkatra-v5-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
